.grayscale {
   filter: grayscale(1);
}

.animate-fadeIn {
    animation: fade 1s; 
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-slideIn {
    animation: slideIn 1s;
}

@keyframes slideIn {
  0% { transform: translate(-100%, 0); }
  100% { transform: translate(0, 0); }
}

.animate-slideInTop {
    animation: slideInTop 1s;
}

@keyframes slideInTop {
  0% { transform: translate(0, -100%); }
  100% { transform: translate(0, 0); }
}

.animate-slideInRight {
    animation: slideInRight 1s;
}

@keyframes slideInRight {
  0% { transform: translate(100%,0); }
  100% { transform: translate(0, 0); }
}

/* TRANSITIONS */

.fade-enter-active, .fade-leave-active {
    transition: opacity .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slideleft-enter-active {
    transition: transform .8s ease-in-out;
 }
 
.slideleft-leave-active {
    transition: transform .8s ease-in-out;
 }
 
.slideleft-enter-to, . slideleft-leave {
    transform: translate(0%, 0);
    overflow: hidden;
}
 
.slideleft-enter, . slideleft-leave-to {
    transform: translate(100%, 0);
    margin-right: 0;
}

.slideright-enter-active {
    transition: transform .8s ease-in-out;
 }
 
.slideright-leave-active {
    transition: transform .8s ease-in-out;
 }
 
.slideright-enter-to, . slideright-leave {
    transform: translate(0%, 0);
    overflow: hidden;
}
 
.slideright-enter, . slideright-leave-to {
    transform: translate(-100%, 0);
    margin-right: 0;
}
